@import url('initSet.css');

.basicFrame {
    display: grid;
    grid-template-rows: 100px 1fr 120px;
}
.header {
    display: flex;
    flex-direction: row;
}
.weatherDisplay{
    position: fixed;
	z-index: 3;
    top: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 10px;
}

.weatherDisplay div:not(:last-child){
    margin-bottom: 6px;
}
.weatherDesc{
	margin-bottom: 6px;
}

 @media screen and (max-width: 1090px) {
    .weatherDisplay {
    left:0;
      top: initial;
      bottom: 0px;
      width: 125px;
      flex-direction: row;
    }
  }