@import url('initSet.css');

.basicFrame{
    display: grid;
    grid-template-rows: 130px 1fr 120px;
}
.headerLogo{
	position: absolute;
	top:0;
	left:0;
	-ms-user-select: none;
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    user-select:none;
}
.header{
	width:100%;
	text-align: center;
	margin-bottom: 20px;
}
.header-container{
	display:inline-block;
}
.pageTitle{
	text-align: center;
	font-size: 45px;
}
.logForm{
	text-align: right;
}
.logForm span:not(:last-Child){
	margin-right: 5px;
}
.weatherDisplay{
    position: fixed;
	z-index: 3;
    top: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 10px;
}
.nav-container{
	max-height:80px;
	display: grid;
    grid-template-columns: minmax(338px,1fr);
    word-break:break-all;
    
}
.nav-container__content{
	display: flex;
    flex-direction: row;
}
.nav-container__content div:not(:last-child){
	margin-right: 10px;
}
.weatherDisplay div:not(:last-child){
    margin-bottom: 6px;
}
.weatherDesc{
	margin-bottom: 6px;
}

 @media screen and (max-width: 1000px) {
    .weatherDisplay {
    left:0;
      top: initial;
      bottom: 0px;
      width: 200px;
      flex-direction: row;
    }
    .weatherDisplay div:not(:last-child){
    margin-right: 10px;
}
 }
 
 *{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;   
 }

input {
  border: none;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36), 0px 1px 2px rgba(0, 0, 0, 0.24);
     -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36), 0px 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36), 0px 1px 2px rgba(0, 0, 0, 0.24);
}
  input:focus, input:active {
    outline: none; }