@import url('comment.css');

.boardDetail .detail-container{
	min-width: 500px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
}
.detail-container table{
	width: 100%;
}
.boardDetail tr td,.boardDetail tr th{
	border-bottom: 3px solid black;
}
#table_writer{
	border-right:3px solid black;	
}
#table_title{
	font-size:21px;
}

.detail-container__userInter{
	padding: 5px 0;
}
#userComment{
	width: 100%;
	min-height: 20px;
}
.table_content{
	font-size: 21px;
}